$primary-color: #14ce7d;
$secondary-color: #18724b;
$background-color: #154732;
$text-color: #fff;
$background-white: white;
$background-silver: #d0d0d0;
$background-gold: #ecc553;
$background-black: rgb(19, 18, 18);