// Estilos para la sección de introducción
.introduccion-texto {
    animation: slideInUp 1s ease-out;
  
    &.oculto {
      animation: slideOutUp 1s ease-out;
      animation-fill-mode: forwards;
    }
  }
  
  @keyframes slideInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  
  