// Estilos para el grid de logos
.logo-container {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
  